.btn-primary {
  background-color: #ea0029 !important;
}

.btn-info{
  background-color: #0075c9 !important;
}

.bg-info {
  background-color: #0075c9 !important;
}

.sidebarArea .sidebarBox.bg-white .activeLink .nav-link {
    color: #ea0029 !important;
    border-left: 3px solid #ea0029 !important;
}
